<style>
.featured-collection-heading h2 {
    font-family: Cocogoose;
    font-size: 45px;
    letter-spacing: 4.5px;
    text-align: center;
  }
  @media screen and (max-width: 576px) {
    .featured-collection-heading h2 {
      font-size: 20px;
      letter-spacing: normal;
      color: #000;
    }
}
</style>
<div class="featured-collection-heading">
    <h2>{{title}}</h2>
    </div>